/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}
:root {
  --background-color: #2f303a;
  --blue-fonts-color: #2196f3;
  --h1-color: #ffffff;
  --bold-fonts-color: #212121;
  --grey-fonts-color: #757575;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
}
.logo1 {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blue-fonts-color);
  text-decoration: none;
  display: flex;
}

.contacts-top {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--grey-fonts-color);
  margin: 20px;
}
.contacts-top:hover,
.contacts-top:focus {
  color: var(--blue-fonts-color);
}
.logo2 {
  font-family: "Raleway";

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--blue-fonts-color);
  text-decoration: none;
  margin: 5px;
}
.buttons {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  color: var(--background-color);
  margin-top: 94px;
}
.buttons:hover,
.buttons:focus {
  color: #2196f3;
}
.text-bold {
  font-family: "Roboto";

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  color: var(--bold-fonts-color);
  text-align: center;
}
.text {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.875;

  color: var(--grey-fonts-color);
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);

  align-items: center;
  padding: 200px 0;
}
.wrapper-bottom {
  background-color: var(--background-color);
}
.address {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  color: var(--h1-color);
  margin-top: 5px;
}
.h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--h1-color);
  text-align: center;
}
.h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  color: var(--bold-fonts-color);
  text-align: center;
  margin-top: 94px;
}
.h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.18;
  color: var(--bold-fonts-color);
}
.list-item1 {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--grey-fonts-color);
}
.list-item2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;

  color: var(--bold-fonts-color);
  text-align: center;
  margin-top: 30px;
}
.list-item3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;

  color: var(--grey-fonts-color);
  text-align: center;
  margin-top: 10px;
}
.dark-color {
  color: var(--background-color);
}
.bright-color {
  color: var(--h1-color);
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
.navigation-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  max-width: 261 px;
  height: 16px;
  flex-grow: 1;
}
.menu-contacts-top {
  display: flex;
  list-style: none;
}
.links {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--grey-fonts-color);
}
.links:hover,
.links:focus {
  color: var(--blue-fonts-color);
}
.nav-items {
  list-style: none;
  padding-left: 20px;
}

.inner-text {
  display: flex;
  max-width: 696px;
}
.inner-button {
  display: block;
}

.list-pictures-portfolio {
  display: flex;
  max-width: 1200px;
  max-height: 1360px;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 34px;
}
.lorem-nav {
  display: flex;
  align-items: center;
}
.lorem-items {
  display: flex;
  max-width: 270px;
  text-align: left;
  flex-direction: column;
  margin-right: 10px;
}
.images-list {
  display: flex;
  gap: 30px;
}
.inner-images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
}
.wrapper-portfolio {
  max-width: 1200px;
  flex-wrap: wrap;
  gap: 30px;
}
.buttons-portfolio {
  display: flex;
}
.pictures-portfolio {
  display: flex;
  max-width: 370px;
  max-height: 404px;
  flex-direction: column;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
}

.menu-portfolio {
  display: flex;
  justify-content: center;
  align-content: space-between;
  gap: 8px;
}

.contacts-menu {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.footer-logo-address {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer-contacts {
  list-style: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.f-contacts {
  font-family: "Roboto";

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--grey-fonts-color);
  font-style: none;
}
.contacts-footer {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--grey-fonts-color);
  font-style: none;
}
.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--blue-fonts-color);
}
